@charset "UTF-8";
@font-face {
  font-family: "bogsfootwear-icons";
  src: url("../../fonts/bogsfootwear-icons.eot?49741805");
  src: url("../../fonts/bogsfootwear-icons.eot?49741805#iefix") format("embedded-opentype"), url("../../fonts/bogsfootwear-icons.woff?49741805") format("woff"), url("../../fonts/bogsfootwear-icons.ttf?49741805") format("truetype"), url("../../fonts/bogsfootwear-icons.svg?49741805#bogsfootwear-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^=icon-]:before,
[class*=" icon-"]:before {
  font-family: "bogsfootwear-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

/* '' */
.icon-instagram:before {
  content: "";
}

/* '' */
.icon-twitter:before {
  content: "";
}

/* '' */
.icon-facebook:before {
  content: "";
}

/* '' */
.icon-pinterest:before {
  content: "";
}

.icon-arrow-down {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-left: 5px;
  background-repeat: no-repeat;
  background-size: 17px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='width:24px;height:24px' viewBox='0 0 24 24'%3E%3Cpath fill='%23000000' d='M11,4H13V16L18.5,10.5L19.92,11.92L12,19.84L4.08,11.92L5.5,10.5L11,16V4Z' /%3E%3C/svg%3E");
}

.fa-plus {
  display: inline-block;
  width: 14px;
  height: 14px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' style='&%2310; width: 14px;&%2310; height: 14px;&%2310;'%3E%3Cpath fill='%236563ff' d='M19,11H13V5a1,1,0,0,0-2,0v6H5a1,1,0,0,0,0,2h6v6a1,1,0,0,0,2,0V13h6a1,1,0,0,0,0-2Z' style='&%2310; fill: black;&%2310;'/%3E%3C/svg%3E");
}

.fa-minus {
  display: inline-block;
  width: 14px;
  height: 14px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' style='&%2310; width: 14px;&%2310; height: 14px;&%2310;'%3E%3Cpath fill='%236563ff' d='M19,11H5a1,1,0,0,0,0,2H19a1,1,0,0,0,0-2Z' style='&%2310; fill: black;&%2310;'/%3E%3C/svg%3E");
}

.bloom_footbed-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20.496' height='21.813' viewBox='0 0 20.496 21.813'%3E%3Cg id='Group_1057' data-name='Group 1057' transform='translate(0.5 0.5)'%3E%3Cpath id='Path_476' data-name='Path 476' d='M10.759,138.892a2.2,2.2,0,0,1-1.064-.275l-7.559-4.146A2.2,2.2,0,0,1,1,132.545v-8.118A2.2,2.2,0,0,1,2.138,122.5l7.555-4.144a2.154,2.154,0,0,1,2.107,0l7.559,4.146a2.2,2.2,0,0,1,1.137,1.926v8.118a2.2,2.2,0,0,1-1.138,1.927L11.8,138.616A2.048,2.048,0,0,1,10.759,138.892Z' transform='translate(-1 -118.079)' fill='none' stroke='%231a1818' stroke-linecap='round' stroke-linejoin='round' stroke-width='1'/%3E%3Cpath id='Path_482' data-name='Path 482' d='M16.2,146.68a2.75,2.75,0,0,1,2.152,1.124l.089.093a2.531,2.531,0,0,0,4.2-.047,2.788,2.788,0,0,1,2.2-1.17,2.75,2.75,0,0,1,2.152,1.124l.089.093a2.692,2.692,0,0,0,2.076,1.093' transform='translate(-12.918 -140.505)' fill='none' stroke='%231a1818' stroke-linecap='round' stroke-linejoin='round' stroke-width='1'/%3E%3Cpath id='Path_492' data-name='Path 492' d='M21.025,170.045c0,.518-.6.937-1.348.937s-1.348-.42-1.348-.937.6-.937,1.348-.937S21.025,169.528,21.025,170.045Z' transform='translate(-14.588 -158.091)' fill='none' stroke='%231a1818' stroke-linecap='round' stroke-linejoin='round' stroke-width='1'/%3E%3Cline id='Line_132' data-name='Line 132' x2='0.692' transform='translate(3.052 11.871)' fill='none' stroke='%231a1818' stroke-linecap='round' stroke-linejoin='round' stroke-width='1'/%3E%3Cline id='Line_133' data-name='Line 133' x2='1.465' transform='translate(6.437 11.871)' fill='none' stroke='%231a1818' stroke-linecap='round' stroke-linejoin='round' stroke-width='1'/%3E%3Cline id='Line_134' data-name='Line 134' x1='0.489' y2='0.489' transform='translate(6.086 10.773)' fill='none' stroke='%231a1818' stroke-linecap='round' stroke-linejoin='round' stroke-width='1'/%3E%3Cline id='Line_135' data-name='Line 135' x1='1.036' y2='1.036' transform='translate(3.125 12.673)' fill='none' stroke='%231a1818' stroke-linecap='round' stroke-linejoin='round' stroke-width='1'/%3E%3Cline id='Line_136' data-name='Line 136' x1='0.523' y1='0.452' transform='translate(6.086 12.63)' fill='none' stroke='%231a1818' stroke-linecap='round' stroke-linejoin='round' stroke-width='1'/%3E%3Cline id='Line_137' data-name='Line 137' x1='1.108' y1='0.958' transform='translate(3.245 10.173)' fill='none' stroke='%231a1818' stroke-linecap='round' stroke-linejoin='round' stroke-width='1'/%3E%3Cline id='Line_138' data-name='Line 138' y2='1.07' transform='translate(5.031 9.91)' fill='none' stroke='%231a1818' stroke-linecap='round' stroke-linejoin='round' stroke-width='1'/%3E%3Cline id='Line_139' data-name='Line 139' y2='1.07' transform='translate(5.031 12.928)' fill='none' stroke='%231a1818' stroke-linecap='round' stroke-linejoin='round' stroke-width='1'/%3E%3Cpath id='Path_493' data-name='Path 493' d='M21.025,170.045c0,.518-.6.937-1.348.937s-1.348-.42-1.348-.937.6-.937,1.348-.937S21.025,169.528,21.025,170.045Z' transform='translate(-14.588 -158.091)' fill='none' stroke='%231a1818' stroke-linecap='round' stroke-linejoin='round' stroke-width='1'/%3E%3Cline id='Line_140' data-name='Line 140' x2='0.692' transform='translate(3.052 11.871)' fill='none' stroke='%231a1818' stroke-linecap='round' stroke-linejoin='round' stroke-width='1'/%3E%3Cline id='Line_141' data-name='Line 141' x2='1.465' transform='translate(6.437 11.871)' fill='none' stroke='%231a1818' stroke-linecap='round' stroke-linejoin='round' stroke-width='1'/%3E%3Cline id='Line_142' data-name='Line 142' x1='0.489' y2='0.489' transform='translate(6.086 10.773)' fill='none' stroke='%231a1818' stroke-linecap='round' stroke-linejoin='round' stroke-width='1'/%3E%3Cline id='Line_143' data-name='Line 143' x1='1.036' y2='1.036' transform='translate(3.125 12.673)' fill='none' stroke='%231a1818' stroke-linecap='round' stroke-linejoin='round' stroke-width='1'/%3E%3Cline id='Line_144' data-name='Line 144' x1='0.523' y1='0.452' transform='translate(6.086 12.63)' fill='none' stroke='%231a1818' stroke-linecap='round' stroke-linejoin='round' stroke-width='1'/%3E%3Cline id='Line_145' data-name='Line 145' x1='1.108' y1='0.958' transform='translate(3.245 10.173)' fill='none' stroke='%231a1818' stroke-linecap='round' stroke-linejoin='round' stroke-width='1'/%3E%3Cline id='Line_146' data-name='Line 146' y2='1.07' transform='translate(5.031 9.91)' fill='none' stroke='%231a1818' stroke-linecap='round' stroke-linejoin='round' stroke-width='1'/%3E%3Cline id='Line_147' data-name='Line 147' y2='1.07' transform='translate(5.031 12.928)' fill='none' stroke='%231a1818' stroke-linecap='round' stroke-linejoin='round' stroke-width='1'/%3E%3Cpath id='Path_494' data-name='Path 494' d='M46.851,187.576c0,.518-.6.937-1.348.937s-1.348-.42-1.348-.937.6-.937,1.348-.937S46.851,187.059,46.851,187.576Z' transform='translate(-34.838 -171.837)' fill='none' stroke='%231a1818' stroke-linecap='round' stroke-linejoin='round' stroke-width='1'/%3E%3Cline id='Line_148' data-name='Line 148' x2='0.692' transform='translate(8.628 15.656)' fill='none' stroke='%231a1818' stroke-linecap='round' stroke-linejoin='round' stroke-width='1'/%3E%3Cline id='Line_149' data-name='Line 149' x2='1.465' transform='translate(12.013 15.656)' fill='none' stroke='%231a1818' stroke-linecap='round' stroke-linejoin='round' stroke-width='1'/%3E%3Cline id='Line_150' data-name='Line 150' x1='0.489' y2='0.489' transform='translate(11.662 14.558)' fill='none' stroke='%231a1818' stroke-linecap='round' stroke-linejoin='round' stroke-width='1'/%3E%3Cline id='Line_151' data-name='Line 151' x1='1.036' y2='1.036' transform='translate(8.701 16.458)' fill='none' stroke='%231a1818' stroke-linecap='round' stroke-linejoin='round' stroke-width='1'/%3E%3Cline id='Line_152' data-name='Line 152' x1='0.523' y1='0.452' transform='translate(11.662 16.415)' fill='none' stroke='%231a1818' stroke-linecap='round' stroke-linejoin='round' stroke-width='1'/%3E%3Cline id='Line_153' data-name='Line 153' x1='1.108' y1='0.958' transform='translate(8.821 13.958)' fill='none' stroke='%231a1818' stroke-linecap='round' stroke-linejoin='round' stroke-width='1'/%3E%3Cline id='Line_154' data-name='Line 154' y2='1.07' transform='translate(10.607 13.695)' fill='none' stroke='%231a1818' stroke-linecap='round' stroke-linejoin='round' stroke-width='1'/%3E%3Cline id='Line_155' data-name='Line 155' y2='1.07' transform='translate(10.607 16.714)' fill='none' stroke='%231a1818' stroke-linecap='round' stroke-linejoin='round' stroke-width='1'/%3E%3Cpath id='Path_495' data-name='Path 495' d='M63.286,169.269c0,.518.6.937,1.348.937s1.348-.42,1.348-.937-.6-.937-1.348-.937S63.286,168.752,63.286,169.269Z' transform='translate(-49.838 -157.482)' fill='none' stroke='%231a1818' stroke-linecap='round' stroke-linejoin='round' stroke-width='1'/%3E%3Cline id='Line_156' data-name='Line 156' x1='0.692' transform='translate(16.142 11.703)' fill='none' stroke='%231a1818' stroke-linecap='round' stroke-linejoin='round' stroke-width='1'/%3E%3Cline id='Line_157' data-name='Line 157' x1='1.465' transform='translate(11.983 11.703)' fill='none' stroke='%231a1818' stroke-linecap='round' stroke-linejoin='round' stroke-width='1'/%3E%3Cline id='Line_158' data-name='Line 158' x2='0.489' y2='0.489' transform='translate(13.31 10.605)' fill='none' stroke='%231a1818' stroke-linecap='round' stroke-linejoin='round' stroke-width='1'/%3E%3Cline id='Line_159' data-name='Line 159' x2='1.036' y2='1.036' transform='translate(15.724 12.505)' fill='none' stroke='%231a1818' stroke-linecap='round' stroke-linejoin='round' stroke-width='1'/%3E%3Cline id='Line_160' data-name='Line 160' y1='0.452' x2='0.523' transform='translate(13.276 12.462)' fill='none' stroke='%231a1818' stroke-linecap='round' stroke-linejoin='round' stroke-width='1'/%3E%3Cline id='Line_161' data-name='Line 161' y1='0.958' x2='1.108' transform='translate(15.532 10.005)' fill='none' stroke='%231a1818' stroke-linecap='round' stroke-linejoin='round' stroke-width='1'/%3E%3Cline id='Line_162' data-name='Line 162' y2='1.07' transform='translate(14.854 9.743)' fill='none' stroke='%231a1818' stroke-linecap='round' stroke-linejoin='round' stroke-width='1'/%3E%3Cline id='Line_163' data-name='Line 163' y2='1.07' transform='translate(14.854 12.761)' fill='none' stroke='%231a1818' stroke-linecap='round' stroke-linejoin='round' stroke-width='1'/%3E%3C/g%3E%3C/svg%3E");
}

.lace_keeper-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20.496' height='21.813' viewBox='0 0 20.496 21.813'%3E%3Cg id='Group_1078' data-name='Group 1078' transform='translate(-308.692 -2705.062)'%3E%3Cpath id='Path_505' data-name='Path 505' d='M249.361,136.094a2.2,2.2,0,0,1-1.064-.275l-7.559-4.146a2.2,2.2,0,0,1-1.137-1.926v-8.118a2.2,2.2,0,0,1,1.138-1.927l7.555-4.144a2.154,2.154,0,0,1,2.107,0l7.559,4.146a2.2,2.2,0,0,1,1.137,1.926v8.118a2.2,2.2,0,0,1-1.138,1.927l-7.555,4.145A2.048,2.048,0,0,1,249.361,136.094Z' transform='translate(69.59 2590.281)' fill='none' stroke='%231a1818' stroke-linecap='round' stroke-linejoin='round' stroke-width='1'/%3E%3Cpath id='Path_506' data-name='Path 506' d='M272.363,144.6a2.81,2.81,0,0,1-.255-1.165,2.7,2.7,0,0,1,5.4,0,2.8,2.8,0,0,1-.255,1.165' transform='translate(44.102 2570.324)' fill='none' stroke='%231a1818' stroke-linecap='round' stroke-linejoin='round' stroke-width='1'/%3E%3Cpath id='Path_507' data-name='Path 507' d='M254.7,145.913v1.858a2.781,2.781,0,0,0,2.778,2.778h6.458' transform='translate(57.75 2566.262)' fill='none' stroke='%231a1818' stroke-linecap='round' stroke-linejoin='round' stroke-width='1'/%3E%3Cpath id='Path_508' data-name='Path 508' d='M277.225,167.613a2.814,2.814,0,0,1,.256,1.17,2.709,2.709,0,1,1-5.418,0,2.812,2.812,0,0,1,.256-1.17' transform='translate(44.137 2549.247)' fill='none' stroke='%231a1818' stroke-linecap='round' stroke-linejoin='round' stroke-width='1'/%3E%3Cline id='Line_168' data-name='Line 168' x2='5.555' transform='translate(316.131 2715.891)' fill='none' stroke='%231a1818' stroke-linecap='round' stroke-linejoin='round' stroke-width='1'/%3E%3Cpath id='Path_509' data-name='Path 509' d='M271.745,158.861H278.2a2.781,2.781,0,0,1,2.778,2.778V163.5' transform='translate(44.387 2556.11)' fill='none' stroke='%231a1818' stroke-linecap='round' stroke-linejoin='round' stroke-width='1'/%3E%3C/g%3E%3C/svg%3E");
}

.zonal_waterproofing-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20.496' height='21.813' viewBox='0 0 20.496 21.813'%3E%3Cg id='Group_1079' data-name='Group 1079' transform='translate(-308.691 -2748.875)'%3E%3Cpath id='Path_496' data-name='Path 496' d='M22.847,31.307l0,0a12.486,12.486,0,0,1-4.341-3.98,15.143,15.143,0,0,1-2.074-8.4c0-.018.008-.026.021-.026.122,0,.243.006.363.006,2.826,0,5.077-1.055,6.023-2.822h.041c.946,1.767,3.2,2.822,6.023,2.822.12,0,.241,0,.363-.006.013,0,.021.008.021.026a15.143,15.143,0,0,1-2.074,8.4A12.484,12.484,0,0,1,22.87,31.3l0,0Zm-.23-10.533a6.43,6.43,0,0,1-.975,1.69,2.7,2.7,0,0,0-.736,1.69,1.821,1.821,0,1,0,3.643,0,2.739,2.739,0,0,0-.733-1.687,6.264,6.264,0,0,1-.987-1.694l-.106-.295Z' transform='translate(296.094 2736.102)' fill='none' stroke='%231a1818' stroke-linecap='round' stroke-linejoin='round' stroke-width='1'/%3E%3Cpath id='Path_497' data-name='Path 497' d='M10.759,23.889A2.2,2.2,0,0,1,9.7,23.614L2.137,19.468A2.2,2.2,0,0,1,1,17.542V9.423A2.2,2.2,0,0,1,2.138,7.5L9.693,3.352a2.154,2.154,0,0,1,2.107,0L19.359,7.5A2.2,2.2,0,0,1,20.5,9.423v8.118a2.2,2.2,0,0,1-1.138,1.927L11.8,23.613A2.048,2.048,0,0,1,10.759,23.889Z' transform='translate(308.191 2746.299)' fill='none' stroke='%231a1818' stroke-linecap='round' stroke-linejoin='round' stroke-width='1'/%3E%3C/g%3E%3C/svg%3E");
}

.multigrip_outsole-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20.495' height='21.813' viewBox='0 0 20.495 21.813'%3E%3Cg id='Group_1010' data-name='Group 1010' transform='translate(0.5 0.5)'%3E%3Cpath id='Path_498' data-name='Path 498' d='M130.06,21.813A2.2,2.2,0,0,1,129,21.538l-7.558-4.146a2.2,2.2,0,0,1-1.136-1.926V7.347a2.2,2.2,0,0,1,1.138-1.927l7.555-4.144a2.154,2.154,0,0,1,2.107,0l7.558,4.146A2.2,2.2,0,0,1,139.8,7.347v8.118a2.2,2.2,0,0,1-1.138,1.927L131.1,21.537A2.048,2.048,0,0,1,130.06,21.813Z' transform='translate(-120.301 -1)' fill='none' stroke='%231a1818' stroke-linecap='round' stroke-linejoin='round' stroke-width='1'/%3E%3Cpath id='Path_499' data-name='Path 499' d='M141.585,26.026c.081.144,2.834,3.782,2.834,3.782l-2.33,1.915,2.877,4.309' transform='translate(-136.99 -20.623)' fill='none' stroke='%231a1818' stroke-linecap='round' stroke-linejoin='round' stroke-width='1'/%3E%3Cpath id='Path_500' data-name='Path 500' d='M152.08,26.026c.081.144,2.834,3.782,2.834,3.782l-2.33,1.915,2.877,4.309' transform='translate(-145.219 -20.623)' fill='none' stroke='%231a1818' stroke-linecap='round' stroke-linejoin='round' stroke-width='1'/%3E%3Cpath id='Path_501' data-name='Path 501' d='M163.157,26.026c.081.144,2.834,3.782,2.834,3.782l-2.33,1.915,2.877,4.309' transform='translate(-153.904 -20.623)' fill='none' stroke='%231a1818' stroke-linecap='round' stroke-linejoin='round' stroke-width='1'/%3E%3Cpath id='Path_502' data-name='Path 502' d='M173.652,26.026c.081.144,2.834,3.782,2.834,3.782l-2.33,1.915,2.877,4.309' transform='translate(-162.134 -20.623)' fill='none' stroke='%231a1818' stroke-linecap='round' stroke-linejoin='round' stroke-width='1'/%3E%3C/g%3E%3C/svg%3E");
}

.breathable_mesh-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20.496' height='21.813' viewBox='0 0 20.496 21.813'%3E%3Cg id='Group_1009' data-name='Group 1009' transform='translate(0.5 0.5)'%3E%3Cpath id='Path_503' data-name='Path 503' d='M249.361,21.813a2.2,2.2,0,0,1-1.064-.275l-7.559-4.146a2.2,2.2,0,0,1-1.137-1.926V7.347A2.2,2.2,0,0,1,240.74,5.42L248.3,1.276a2.154,2.154,0,0,1,2.107,0l7.559,4.146A2.2,2.2,0,0,1,259.1,7.347v8.119a2.2,2.2,0,0,1-1.138,1.927L250.4,21.537A2.048,2.048,0,0,1,249.361,21.813Z' transform='translate(-239.602 -1)' fill='none' stroke='%231a1818' stroke-linecap='round' stroke-linejoin='round' stroke-width='1'/%3E%3Cpath id='Path_504' data-name='Path 504' d='M266.88,31.933l-.084.011a1.87,1.87,0,0,0-1.526.993h-.02l-2.017-3.949a1.793,1.793,0,0,1,1.5-1.021,3.621,3.621,0,0,1,.461-.028,8.938,8.938,0,0,1,1.6.19l.088.017V26.92h-.665a.012.012,0,0,1-.012-.012l1.778-2.76.015,0,1.781,2.759a.012.012,0,0,1,0,.016h-.716v1.618l.077-.011c.131.01.256.014.373.014a3.03,3.03,0,0,0,.7-.073,1.642,1.642,0,0,0,.872-.491l.018,0,.793,1.29q.817,1.329,1.632,2.659a.012.012,0,0,1,0,.014,2.162,2.162,0,0,1-1.668.572,12.733,12.733,0,0,1-2.252-.3l-.132-.025-.323-.061-.087-.016-.024,0-.061-.011a9.7,9.7,0,0,0-1.655-.185c-.12,0-.237,0-.346.013l-.068.006Z' transform='translate(-258.13 -19.147)' fill='none' stroke='%231a1818' stroke-linecap='round' stroke-linejoin='round' stroke-width='1'/%3E%3Cline id='Line_164' data-name='Line 164' y2='1.387' transform='translate(8.752 8.809)' fill='none' stroke='%231a1818' stroke-linecap='round' stroke-linejoin='round' stroke-width='1'/%3E%3Cline id='Line_165' data-name='Line 165' y2='1.387' transform='translate(10.926 9.128)' fill='none' stroke='%231a1818' stroke-linecap='round' stroke-linejoin='round' stroke-width='1'/%3E%3Cline id='Line_166' data-name='Line 166' y2='2.029' transform='translate(8.752 12.809)' fill='none' stroke='%231a1818' stroke-linecap='round' stroke-linejoin='round' stroke-width='1'/%3E%3Cline id='Line_167' data-name='Line 167' y2='2.241' transform='translate(10.926 12.974)' fill='none' stroke='%231a1818' stroke-linecap='round' stroke-linejoin='round' stroke-width='1'/%3E%3C/g%3E%3C/svg%3E");
}

.tpu_reinforcement-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20.496' height='21.813' viewBox='0 0 20.496 21.813'%3E%3Cg id='Group_1080' data-name='Group 1080' transform='translate(-308.692 -2880.313)'%3E%3Cpath id='Path_510' data-name='Path 510' d='M130.06,136.094A2.2,2.2,0,0,1,129,135.82l-7.559-4.146a2.2,2.2,0,0,1-1.137-1.926v-8.119a2.2,2.2,0,0,1,1.138-1.927l7.555-4.145a2.154,2.154,0,0,1,2.107,0l7.559,4.146a2.2,2.2,0,0,1,1.137,1.926v8.119a2.2,2.2,0,0,1-1.138,1.927l-7.555,4.145A2.048,2.048,0,0,1,130.06,136.094Z' transform='translate(188.891 2765.532)' fill='none' stroke='%231a1818' stroke-linecap='round' stroke-linejoin='round' stroke-width='1'/%3E%3Cline id='Line_169' data-name='Line 169' y1='9.946' transform='translate(315.506 2886.355)' fill='none' stroke='%231a1818' stroke-linecap='round' stroke-linejoin='round' stroke-width='1'/%3E%3Cline id='Line_170' data-name='Line 170' y1='9.946' transform='translate(318.967 2886.355)' fill='none' stroke='%231a1818' stroke-linecap='round' stroke-linejoin='round' stroke-width='1'/%3E%3Cline id='Line_171' data-name='Line 171' y1='9.946' transform='translate(322.373 2886.355)' fill='none' stroke='%231a1818' stroke-linecap='round' stroke-linejoin='round' stroke-width='1'/%3E%3Cline id='Line_172' data-name='Line 172' x2='9.946' transform='translate(313.967 2887.894)' fill='none' stroke='%231a1818' stroke-linecap='round' stroke-linejoin='round' stroke-width='1'/%3E%3Cline id='Line_173' data-name='Line 173' x2='9.946' transform='translate(313.967 2891.355)' fill='none' stroke='%231a1818' stroke-linecap='round' stroke-linejoin='round' stroke-width='1'/%3E%3Cline id='Line_174' data-name='Line 174' x2='9.946' transform='translate(313.967 2894.762)' fill='none' stroke='%231a1818' stroke-linecap='round' stroke-linejoin='round' stroke-width='1'/%3E%3C/g%3E%3C/svg%3E");
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.square-video .modal-dialog {
  max-width: 95%;
}
@media screen and (min-width: 768px) {
  .square-video .modal-dialog {
    max-width: 45%;
  }
}

.modal-dialog {
  height: 100vh;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}
@media screen and (min-width: 768px) {
  .modal-dialog {
    max-width: 80%;
  }
}
.modal-dialog .modal-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #000;
  background-clip: padding-box;
  border: 0px solid rgba(0, 0, 0, 0.2);
  border-radius: 0;
  outline: 0;
}
.modal-dialog .modal-content .modal-body {
  padding: 0;
}
.modal-dialog .modal-content .modal-body .close {
  float: right;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  color: #ffffff;
  text-shadow: none;
  opacity: 1;
  margin-bottom: 0.2em;
  position: absolute;
  z-index: 99999;
  right: 20px;
  top: 5px;
}
.modal-dialog .modal-content .modal-body .embed-responsive {
  width: 101%;
}

body {
  margin: 0;
  font-family: "interstate", Arial, sans-serif;
  font-size: 16px;
}

.free-shipping__banner {
  height: 42px;
  background: #282829;
  text-align: center;
}
.free-shipping__banner span {
  color: #ffffff;
  text-transform: capitalize;
  line-height: 42px;
  letter-spacing: 0.5px;
  font-size: 15px;
  font-family: "neuzeit-grotesk", Arial, sans-serif;
  font-weight: 400;
}

#hero_section {
  position: relative;
}
#hero_section .hero_section-heading {
  position: absolute;
  top: 70px;
  width: 100%;
  text-align: center;
  color: #ffffff;
}
@media screen and (max-width: 767px) {
  #hero_section .hero_section-heading {
    top: 20px;
  }
}
#hero_section .hero_section-heading .heading__text-bigger {
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow: 5px 0 25px rgba(0, 0, 0, 0.5);
  font-size: 85px;
  font-weight: 700;
}
@media screen and (max-width: 767px) {
  #hero_section .hero_section-heading .heading__text-bigger {
    font-size: 20px;
  }
}
#hero_section .hero_section-heading .heading__text-subtext {
  letter-spacing: 1px;
  text-shadow: 5px 0 25px rgba(0, 0, 0, 0.5);
  font-size: 40px;
  font-weight: 400;
}
@media screen and (max-width: 767px) {
  #hero_section .hero_section-heading .heading__text-subtext {
    font-size: 12px;
  }
}
#hero_section .hero_section-action {
  position: absolute;
  bottom: 103px;
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 767px) {
  #hero_section .hero_section-action {
    position: unset;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
}
#hero_section .hero_section-action .hero_section--link {
  width: 345px;
  height: 70px;
  margin-right: 22px;
  color: #000000;
  line-height: 70px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffffff;
  border-radius: 2px;
  font-size: 16px;
  font-weight: 700;
}
@media screen and (max-width: 767px) {
  #hero_section .hero_section-action .hero_section--link {
    width: 90%;
    margin-right: 0;
    margin-bottom: 12px;
    border: 3px solid #000000;
  }
  #hero_section .hero_section-action .hero_section--link:first-child {
    margin-top: 18px;
  }
}
#hero_section .scroll_down-btn {
  position: absolute;
  left: 0;
  width: 145px;
  text-align: center;
  margin: auto;
  bottom: 55px;
  padding: 8px;
  right: 0;
  border-radius: 2px;
  color: #000000;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#best_sellers_slider_men {
  margin-top: 95px;
}
@media screen and (max-width: 767px) {
  #best_sellers_slider_men {
    margin-top: 60px;
  }
}
#best_sellers_slider_men .best_sellers_slider--men .swiper__heading-container {
  text-align: center;
}
#best_sellers_slider_men .best_sellers_slider--men .swiper__heading-container .swiper__heading--text {
  margin-bottom: 54px;
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 1px;
}
@media screen and (max-width: 767px) {
  #best_sellers_slider_men .best_sellers_slider--men .swiper__heading-container .swiper__heading--text {
    font-size: 20px;
    margin-bottom: 25px;
  }
}
@media screen and (max-width: 767px) {
  #best_sellers_slider_men .best_sellers_slider--men .best_sellers_slider__slide {
    text-align: center;
  }
}
#best_sellers_slider_men .best_sellers_slider--men .best_sellers_slider__slide img {
  max-width: 360px;
}
#best_sellers_slider_men .best_sellers_slider--men .best_sellers_slider__slide .list-view__top-line {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#best_sellers_slider_men .best_sellers_slider--men .best_sellers_slider__slide .list-view__top-line .list-view__title {
  color: #000000;
  font-size: 16px;
  font-weight: 700;
}
#best_sellers_slider_men .best_sellers_slider--men .best_sellers_slider__slide .list-view__top-line .list-view__title .list-view__tag {
  font-size: 12px;
  font-weight: 400;
}
@media screen and (max-width: 767px) {
  #best_sellers_slider_men .best_sellers_slider--men .best_sellers_slider__slide .list-view__top-line .list-view__title .list-view__tag {
    font-size: 9px;
    margin-top: 8px;
  }
}
@media screen and (max-width: 767px) {
  #best_sellers_slider_men .best_sellers_slider--men .best_sellers_slider__slide .list-view__top-line .list-view__title {
    font-size: 12px;
  }
}
#best_sellers_slider_men .best_sellers_slider--men .best_sellers_slider__slide .list-view__top-line .list-view__price {
  color: #000000;
  font-size: 16px;
  font-weight: 700;
}
@media screen and (max-width: 767px) {
  #best_sellers_slider_men .best_sellers_slider--men .best_sellers_slider__slide .list-view__top-line .list-view__price {
    font-size: 13px;
  }
}
#best_sellers_slider_men .best_sellers_slider--men .best_sellers_slider--pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: transparent;
  border: 1px solid #000000;
  opacity: 1;
}
#best_sellers_slider_men .best_sellers_slider--men .best_sellers_slider--pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #000000;
}
@media screen and (max-width: 768px) {
  #best_sellers_slider_men .best_sellers_slider--men .best_sellers_slider--pagination {
    visibility: visible !important;
  }
}

#best_sellers_slider_women .best_sellers_slider--women .swiper__heading-container {
  text-align: center;
}
#best_sellers_slider_women .best_sellers_slider--women .swiper__heading-container .swiper__heading--text {
  margin-bottom: 54px;
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 1px;
}
@media screen and (max-width: 767px) {
  #best_sellers_slider_women .best_sellers_slider--women .swiper__heading-container .swiper__heading--text {
    font-size: 20px;
    margin-bottom: 25px;
  }
}
@media screen and (max-width: 767px) {
  #best_sellers_slider_women .best_sellers_slider--women .best_sellers_slider__slide {
    text-align: center;
  }
}
#best_sellers_slider_women .best_sellers_slider--women .best_sellers_slider__slide img {
  max-width: 360px;
}
#best_sellers_slider_women .best_sellers_slider--women .best_sellers_slider__slide .list-view__top-line {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#best_sellers_slider_women .best_sellers_slider--women .best_sellers_slider__slide .list-view__top-line .list-view__title {
  color: #000000;
  font-size: 16px;
  font-weight: 700;
}
#best_sellers_slider_women .best_sellers_slider--women .best_sellers_slider__slide .list-view__top-line .list-view__title .list-view__tag {
  font-size: 12px;
  font-weight: 400;
}
@media screen and (max-width: 767px) {
  #best_sellers_slider_women .best_sellers_slider--women .best_sellers_slider__slide .list-view__top-line .list-view__title .list-view__tag {
    font-size: 9px;
    margin-top: 8px;
  }
}
#best_sellers_slider_women .best_sellers_slider--women .best_sellers_slider__slide .list-view__top-line .list-view__price {
  color: #000000;
  font-size: 16px;
  font-weight: 700;
}
@media screen and (max-width: 767px) {
  #best_sellers_slider_women .best_sellers_slider--women .best_sellers_slider__slide .list-view__top-line .list-view__price {
    font-size: 13px;
  }
}
#best_sellers_slider_women .best_sellers_slider--women .best_sellers_slider--pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: transparent;
  border: 1px solid #000000;
  opacity: 1;
}
#best_sellers_slider_women .best_sellers_slider--women .best_sellers_slider--pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #000000;
}
@media screen and (max-width: 768px) {
  #best_sellers_slider_women .best_sellers_slider--women .best_sellers_slider--pagination {
    visibility: visible !important;
  }
}

#video_section .newLanding__textWrapper__container--middle {
  position: absolute;
  top: 50%;
  padding-left: 10%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
@media screen and (max-width: 768px) {
  #video_section .newLanding__textWrapper__container--middle {
    position: unset;
    -webkit-transform: unset;
            transform: unset;
    padding: 30px 40px;
  }
}
#video_section .newLanding__textWrapper__container--middle .newLanding__textWrapper__container-wrapper {
  max-width: 30vw;
  padding: 6vw 4vw;
  background: rgba(255, 255, 255, 0.44);
}
@media screen and (max-width: 768px) {
  #video_section .newLanding__textWrapper__container--middle .newLanding__textWrapper__container-wrapper {
    position: relative;
    max-width: 100%;
    padding: 0;
  }
}
#video_section .newLanding__textWrapper__container--middle .newLanding__textWrapper__container-wrapper .video__overlay--heading {
  margin-bottom: 50px;
  letter-spacing: 0.25px;
  font-size: 2vw;
  font-weight: 700;
}
@media screen and (max-width: 768px) {
  #video_section .newLanding__textWrapper__container--middle .newLanding__textWrapper__container-wrapper .video__overlay--heading {
    margin-bottom: 22px;
    text-align: center;
    font-size: 20px;
  }
}
#video_section .newLanding__textWrapper__container--middle .newLanding__textWrapper__container-wrapper .video__overlay--description {
  margin-bottom: 58px;
  letter-spacing: 0.25px;
  line-height: 21px;
  font-size: 1vw;
  font-family: "neuzeit-grotesk", Arial, sans-serif;
  font-weight: 400;
}
@media screen and (max-width: 768px) {
  #video_section .newLanding__textWrapper__container--middle .newLanding__textWrapper__container-wrapper .video__overlay--description {
    text-align: center;
    margin-bottom: 0;
    font-size: 16px;
    font-family: "neuzeit-grotesk", Arial, sans-serif;
  }
}
#video_section .newLanding__textWrapper__container--middle .newLanding__textWrapper__container-wrapper .video-btn {
  display: block;
  width: 100%;
  height: 70px;
  padding: 0;
  margin-bottom: 25px;
  border: 3px solid #000000;
  border-radius: 2px;
  line-height: 70px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1rem;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  #video_section .newLanding__textWrapper__container--middle .newLanding__textWrapper__container-wrapper .video-btn {
    position: absolute;
    top: -125px;
    border-color: white;
    color: white;
  }
}

#trail_technology_section .desktop_screen .trail__banner-wrapper {
  position: relative;
}
#trail_technology_section .desktop_screen .trail__banner-wrapper .center__model-wraper--links {
  position: absolute;
  width: 80%;
  height: 80%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
#trail_technology_section .desktop_screen .trail__banner-wrapper .center__model-wraper--links .center {
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#trail_technology_section .desktop_screen .trail__banner-wrapper .center__model-wraper--links .center .left-wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  width: 50%;
}
@media screen and (min-width: 1800px) {
  #trail_technology_section .desktop_screen .trail__banner-wrapper .center__model-wraper--links .center .left-wrapper {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}
#trail_technology_section .desktop_screen .trail__banner-wrapper .center__model-wraper--links .center .left-wrapper .left-inner {
  position: relative;
  width: 50%;
  margin-left: -75px;
  margin-bottom: 75px;
  display: inline-block;
}
#trail_technology_section .desktop_screen .trail__banner-wrapper .center__model-wraper--links .center .right-wrapper {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  height: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
#trail_technology_section .desktop_screen .trail__banner-wrapper .center__model-wraper--links .center .right-wrapper .right-inner {
  position: relative;
  width: 50%;
  margin-right: -75px;
  margin-bottom: 75px;
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}
#trail_technology_section .desktop_screen .trail__banner-wrapper .center__model-wraper--links .center .right-wrapper .right-inner:last-child {
  margin-bottom: 0;
}
#trail_technology_section .desktop_screen .trail__banner-wrapper .center__model-wraper--links .center .right-wrapper .right-inner:nth-child(2) {
  margin-right: calc(15% - 75px);
}
#trail_technology_section .desktop_screen .trail__banner-wrapper .center__model-wraper--links .center .right-wrapper .right-inner:nth-child(3) {
  margin-right: calc(30% - 75px);
}
#trail_technology_section .desktop_screen .trail__banner-wrapper .center__model-wraper--links .center .image_marker-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
@media screen and (max-width: 1200px) and (min-width: 992px) {
  #trail_technology_section .desktop_screen .trail__banner-wrapper .center__model-wraper--links .center .image_marker-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
}
#trail_technology_section .desktop_screen .trail__banner-wrapper .center__model-wraper--links .center .image_marker-wrapper .trail_technology-icon {
  display: inline-block;
  width: 60px;
  height: 65px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='92.3' height='98.4' viewBox='0 0 92.3 98.4'%3E%3Cg id='Group_1005' data-name='Group 1005' transform='translate(-11441.602 -603.281)'%3E%3Cpath id='Path_505' data-name='Path 505' d='M284.8,211.681a10.172,10.172,0,0,1-4.927-1.273L244.866,191.2a10.2,10.2,0,0,1-5.264-8.921v-37.6a10.2,10.2,0,0,1,5.27-8.925l34.994-19.2a9.975,9.975,0,0,1,9.761,0l35.009,19.2a10.2,10.2,0,0,1,5.265,8.922v37.6a10.2,10.2,0,0,1-5.271,8.924l-34.994,19.2A9.487,9.487,0,0,1,284.8,211.681Z' transform='translate(11203 489)' fill='none' stroke='%231a1818' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'/%3E%3Cpath id='Path_506' data-name='Path 506' d='M273.289,158.631a13.012,13.012,0,0,1-1.181-5.4,12.5,12.5,0,1,1,25,0,12.987,12.987,0,0,1-1.182,5.4' transform='translate(11203 489)' fill='none' stroke='%231a1818' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'/%3E%3Cpath id='Path_507' data-name='Path 507' d='M254.7,145.913v8.6a12.879,12.879,0,0,0,12.865,12.865h29.913' transform='translate(11203 489)' fill='none' stroke='%231a1818' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'/%3E%3Cpath id='Path_508' data-name='Path 508' d='M295.973,167.613a13.036,13.036,0,0,1,1.185,5.417,12.548,12.548,0,1,1-25.1,0,13.025,13.025,0,0,1,1.187-5.417' transform='translate(11203 489)' fill='none' stroke='%231a1818' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'/%3E%3Cline id='Line_168' data-name='Line 168' x2='25.731' transform='translate(11474.745 652.122)' fill='none' stroke='%231a1818' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'/%3E%3Cpath id='Path_509' data-name='Path 509' d='M271.745,158.861h29.908a12.881,12.881,0,0,1,12.866,12.865v8.6' transform='translate(11203 489)' fill='none' stroke='%231a1818' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'/%3E%3C/g%3E%3C/svg%3E");
}
#trail_technology_section .desktop_screen .trail__banner-wrapper .center__model-wraper--links .center .image_marker-wrapper span {
  font-size: 12px;
  letter-spacing: 0.8px;
  font-weight: 700;
  text-transform: uppercase;
}
#trail_technology_section .desktop_screen .trail__banner-wrapper .center__model-wraper--links .center .image_marker-wrapper.left {
  left: -40%;
}
#trail_technology_section .desktop_screen .trail__banner-wrapper .center__model-wraper--links .center .image_marker-wrapper.left .trail_technology-icon {
  margin-right: 10px;
}
#trail_technology_section .desktop_screen .trail__banner-wrapper .center__model-wraper--links .center .image_marker-wrapper.right {
  right: 0;
}
#trail_technology_section .desktop_screen .trail__banner-wrapper .center__model-wraper--links .center .image_marker-wrapper.right .trail_technology-icon {
  margin-left: 10px;
}
#trail_technology_section .mobile_screen {
  background: #d3d3d3;
  padding-bottom: 60px;
}
#trail_technology_section .mobile_screen .accordion {
  padding-bottom: 30px;
}
#trail_technology_section .mobile_screen .accordion .card {
  background: transparent;
  border: 0;
  border-bottom: 1px solid #707070;
}
#trail_technology_section .mobile_screen .accordion .card .card-header {
  background: transparent;
  border: 0;
  padding: 12px 0;
}
#trail_technology_section .mobile_screen .accordion .card .card-header .btn-link {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000000;
  letter-spacing: 0.8px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: left;
  font-size: 18px;
  font-weight: 700;
}
#trail_technology_section .mobile_screen .accordion .card .card-header .btn-link span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#trail_technology_section .mobile_screen .accordion .card .card-header .btn-link span .acc_link-icon {
  display: inline-block;
  width: 20px;
  height: 21px;
  margin-right: 8px;
  background-repeat: no-repeat;
  background-size: contain;
}
#trail_technology_section .mobile_screen .accordion .card .card-body {
  padding-top: 0;
}
#trail_technology_section .mobile_screen .accordion .card .card-body img {
  padding: 10px;
  background-color: #ffffff;
}
#trail_technology_section .mobile_screen .accordion .card .card-body video {
  padding: 10px;
  background-color: #ffffff;
}
#trail_technology_section .mobile_screen .accordion .card .card-body .acc__desc {
  margin-top: 15px;
  color: #000000;
  letter-spacing: 0.25px;
  font-size: 16px;
  font-weight: 400;
  font-family: "neuzeit-grotesk", Arial, sans-serif;
}
#trail_technology_section .mobile_screen .action__wrapper .btn-link {
  display: block;
  width: 100%;
  margin-bottom: 12px;
  height: 60px;
  border: 3px solid #000000;
  border-radius: 2px;
  line-height: 60px;
  color: #000000;
  letter-spacing: 1px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}

#mosaic_grid_section .mosaic__grid-container {
  padding: 160px 0;
}
@media screen and (max-width: 768px) {
  #mosaic_grid_section .mosaic__grid-container {
    display: none;
  }
}
#mosaic_grid_section .mosaic__grid-container .image-mosaic {
  display: -ms-grid;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(525px, 1fr));
  grid-auto-rows: 525px;
}
@media screen and (max-width: 1200px) and (min-width: 992px) {
  #mosaic_grid_section .mosaic__grid-container .image-mosaic {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-auto-rows: 400px;
  }
}
@media screen and (max-width: 991px) and (min-width: 768px) {
  #mosaic_grid_section .mosaic__grid-container .image-mosaic {
    grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
    grid-auto-rows: 325px;
  }
}
@media screen and (max-width: 767px) {
  #mosaic_grid_section .mosaic__grid-container .image-mosaic {
    display: none;
  }
}
#mosaic_grid_section .mosaic__grid-container .image-mosaic .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  border: 0;
  border-radius: 0;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
}
#mosaic_grid_section .mosaic__grid-container .image-mosaic .card.card-tall {
  -ms-grid-row-span: 2;
  grid-row: span 2/auto;
}
#mosaic_grid_section #best_sellers_slider_mosaic {
  display: none;
  padding: 30px 30px 27px;
}
@media screen and (max-width: 768px) {
  #mosaic_grid_section #best_sellers_slider_mosaic {
    display: block;
  }
}
#mosaic_grid_section #best_sellers_slider_mosaic .swiper-container {
  margin-bottom: 0 !important;
}
#mosaic_grid_section #best_sellers_slider_mosaic .swiper-container .mosaic_swiper__slide {
  width: 90vw;
  height: 90vw;
}
#mosaic_grid_section #best_sellers_slider_mosaic .swiper-container .mosaic_swiper__slide img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#mosaic_grid_section #best_sellers_slider_mosaic .swiper-container .swiper-pagination span {
  background: white;
  border: 1px solid #000000;
}
#mosaic_grid_section #best_sellers_slider_mosaic .swiper-container .swiper-pagination span.swiper-pagination-bullet-active {
  background: #000000;
}
#mosaic_grid_section #best_sellers_slider_mosaic .swiper-container .mosaic_slider--navigation {
  display: none;
}

.shop__slider .swiper-container {
  position: relative;
}
@media screen and (max-width: 767px) {
  .shop__slider .swiper-container .swiper-wrapper .swiper-slide {
    height: 560px;
  }
}
@media screen and (max-width: 767px) {
  .shop__slider .swiper-container .swiper-wrapper .swiper-slide img {
    height: 100% !important;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.shop__slider .swiper-container .swiper__action-wrapper {
  position: absolute;
  bottom: 100px;
  width: 100%;
  z-index: 9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 767px) {
  .shop__slider .swiper-container .swiper__action-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    bottom: 25px;
  }
}
.shop__slider .swiper-container .swiper__action-wrapper .swiper__action-btn {
  display: block;
  width: 345px;
  height: 70px;
  margin-right: 22px;
  background: #ffffff;
  font-size: 16px;
  font-weight: 700;
  color: #000000;
  line-height: 70px;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 2px;
}
@media screen and (max-width: 767px) {
  .shop__slider .swiper-container .swiper__action-wrapper .swiper__action-btn {
    width: 315px;
    margin-bottom: 12px;
    margin-right: 0;
  }
}

#footer {
  background-color: #282829;
  color: #ffffff;
}
#footer .footer__container {
  padding-top: 93px;
}
@media screen and (max-width: 767px) {
  #footer .footer__container {
    padding-top: 32px;
  }
}
#footer .footer__container .footer__form-col {
  margin-bottom: 45px;
}
#footer .footer__container .footer__form-col .footer__header {
  display: block;
  letter-spacing: 0.25px;
  line-height: 32px;
  font-size: 20px;
  font-weight: 700;
}
#footer .footer__container .footer__form-col .footer__desc {
  display: block;
  line-height: 32px;
  font-size: 15px;
  font-weight: 700;
}
#footer .footer__container .footer__form-col form {
  margin-top: 25px;
}
#footer .footer__container .footer__form-col form .form__radio-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#footer .footer__container .footer__form-col form .form__radio-input .form-check {
  font-size: 15px;
  margin-right: 25px;
}
#footer .footer__container .footer__form-col form .form__input-fields {
  margin-top: 25px;
}
#footer .footer__container .footer__form-col form .form__input-fields label {
  margin-bottom: 0;
  line-height: 51px;
  font-size: 19px;
  font-weight: 400;
}
#footer .footer__container .footer__form-col form .form__input-fields .footer__input--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#footer .footer__container .footer__form-col form .form__input-fields .footer__input--wrapper input {
  height: 56px;
  border-radius: 0;
}
#footer .footer__container .footer__form-col form .form__input-fields .footer__input--wrapper span {
  width: 147px;
  text-align: center;
  height: 56px;
  border: 2px solid white;
  line-height: 50px;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 21px;
  font-weight: 700;
}
#footer .footer__container .footer__form-col .footer__terms-text {
  line-height: 10px;
  font-size: 10px;
  font-weight: 10px;
}
#footer .footer__container .footer__link-col .footer__header-links {
  display: block;
  line-height: 30px;
  font-size: 15px;
  font-weight: 700;
}
#footer .footer__container .footer__link-col .footer__link {
  display: block;
  text-decoration: none;
  color: #ffffff;
  line-height: 30px;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
  font-size: 15px;
  font-weight: 400;
}
#footer .footer__container .footer__link-col .footer__link:hover {
  opacity: 0.5;
}
#footer .footer__container .footer__middle-row .footer__icon-row {
  margin-bottom: 40px;
}
#footer .footer__container .footer__middle-row .footer__icon-row .footer__social-icons .social-icon {
  margin-right: 90px;
  font-size: 32px;
  color: #ffffff;
}
@media screen and (max-width: 767px) {
  #footer .footer__container .footer__middle-row .footer__icon-row .footer__social-icons .social-icon {
    font-size: 23.5px;
    margin-right: 32px;
  }
}
#footer .footer__container .footer__middle-row .footer__brand-images {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#footer .footer__container .footer__middle-row .footer__brand-images img {
  width: unset;
}
#footer .footer__container .footer__bottom-row {
  margin-top: 40px;
}
#footer .footer__container .footer__bottom-row .footer__disclaimer-text {
  line-height: 14px;
  opacity: 0.5;
  font-size: 10px;
  font-weight: 400;
}
#footer .footer__container .footer__bottom-row .footer__disclaimer-text a {
  color: inherit;
  text-decoration: underline;
}
#footer .footer__container .footer__bottom-links .fb__desc-text {
  color: #f5f3ef;
  font-size: 15px;
  font-weight: 400;
}
@media screen and (max-width: 767px) {
  #footer .footer__container .footer__bottom-links .fb__desc-text {
    font-size: 14px;
    line-height: 22px;
  }
}
#footer .footer__container .footer__bottom-links .footer__bottom--link {
  position: relative;
  color: #f5f3ef;
  text-decoration: underline;
  margin-right: 30px;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
  font-size: 15px;
  font-weight: 400;
}
#footer .footer__container .footer__bottom-links .footer__bottom--link::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: -15px;
  width: 1px;
  height: 90%;
  background: #f5f3ef;
}
@media screen and (max-width: 767px) {
  #footer .footer__container .footer__bottom-links .footer__bottom--link::after {
    display: none;
  }
}
#footer .footer__container .footer__bottom-links .footer__bottom--link:last-child::after {
  display: none;
}
@media screen and (max-width: 767px) {
  #footer .footer__container .footer__bottom-links .footer__bottom--link:last-child {
    border: 0;
  }
}
#footer .footer__container .footer__bottom-links .footer__bottom--link:hover {
  opacity: 0.5;
}
@media screen and (max-width: 767px) {
  #footer .footer__container .footer__bottom-links .footer__bottom--link {
    padding-right: 15px;
    margin-right: 15px;
    border-right: 1px solid #f5f3ef;
  }
}

.tippy-popper {
  width: 25%;
}
.tippy-popper .tippy-tooltip.light-theme {
  padding: 12px;
  font-size: 1rem;
  letter-spacing: 0.25px;
  line-height: 18px;
}
.tippy-popper .tippy-tooltip.light-theme .tippy-content .tippy__desc {
  margin-top: 17px;
}

.template-tippy {
  display: none;
}

:root {
  --video-width: 100vw;
  --video-height: 100vh;
}
@media (min-aspect-ratio: 16/9) {
  :root {
    --video-height: 56.25vw ;
  }
}
@media (max-aspect-ratio: 16/9) {
  :root {
    --video-width: 177.78vh ;
  }
}

.bg-video {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 200px;
}
@media screen and (min-width: 1600px) and (max-width: 1800px) {
  .bg-video {
    height: 250px;
  }
}
@media screen and (min-width: 1801px) and (max-width: 2100px) {
  .bg-video {
    height: 280px;
  }
}
@media screen and (min-width: 2101px) and (max-width: 2300px) {
  .bg-video {
    height: 320px;
  }
}
@media screen and (min-width: 2301px) {
  .bg-video {
    height: 15vw;
  }
}
.bg-video__iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  width: var(--video-width);
  height: var(--video-height);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}